.dadospessoais{-webkit-border-radius: 250px 250px 250px 250px;
border-radius: 250px 250px 250px 250px; color: brown;}
body{background: #751600;
background: linear-gradient(180deg,rgba(117, 22, 0, 1) 17%, rgba(0, 0, 97, 1) 91%, rgba(255, 255, 255, 1) 100%);font-family: 'Times New Roman', Times, serif; color: aliceblue;}
.incrição{}